body{
	margin:0;
}
.wrapper{
	width:1200px;
	margin:auto;
	overflow:hidden;
}
.one{
	width:33.33%;
	float:left;
	margin-bottom:15px;
	padding:0 5px;
	box-sizing:border-box;
}
.blue{
	height:100px;
	background-color:skyblue;
	padding:15px;
}
.two{
	width:100%;
	float:left;
	margin-bottom:15px;
	padding:0 5px;
	box-sizing:border-box;
}
.black{
	height:100px;
	background-color:yellow;
	padding:15px;
}
.three{
	width:50%;
	float:left;
	margin-bottom:15px;
	padding:0 5px;
	box-sizing:border-box;
}
.green{
	height:100px;
	background-color:green;
	padding:15px;
}
.four{
	width:60%;
	float:left;
	margin-bottom:15px;
	padding:0 5px;
	box-sizing:border-box;
	
	
}
.orange{
	height:100px;
	background-color:orange;
	padding:15px;
}
.five{
	width:20%;
	float:left;
	margin-bottom:15px;
	padding:0 5px;
	box-sizing:border-box;
}
.segreen{
	height:100px;
	background-color:gray;
	padding:15px;
}







